/* Custom styles to make the toolbar usable on mobile */
.editor :global(.w-md-editor-toolbar) {
  flex-wrap: wrap;
  height: auto;
  min-height: auto;
  padding: 8px;
}

@media (max-width: $mantine-breakpoint-sm) {
  .editor :global(.w-md-editor-toolbar li > button) {
    padding: 8px;
    min-width: 36px;
    min-height: 36px;
  }

  .editor :global(.w-md-editor-toolbar li > button svg) {
    width: 18px;
    height: 18px;
  }
}
